*{
    margin: 0;
    padding: 0;  
}

.full{
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(../../images/swd.webp);
    background-size: 100%;
    background-repeat: repeat;
}
.back{
    margin-left: 2%;
    width: 300px;
}

.back a{
    position: relative;
    color: rgb(73, 128, 168);
    
    text-decoration: none;
    font-family:Impact;
    font-size: 30px;    
}
#drama{
    margin-top: 2%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.title{
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title h1{
    font-size: 2.2rem;
    font-weight: 500;
    background-color: #202020;
    color: #ffff;
    padding: 10px 20px;
}

.title span{
    font-size: 1.3rem;
    color: #ffffff;
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.drama-box-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.drama-box{
    width: 350px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.5);
    background-color: #b1b1b17e;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
}

.box-top{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.profile-img{
    width: 150px;
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 10px;
}

.profile-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.profile{
    display: flex;
}

.drama-name{
    display: flex;
    flex-direction: column;
}

.drama-name strong{
    color: #000312;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}

.drama-name span{
    color: #000000;
    font-size: 0.8rem;
}

.reviews{
    color: #f9d71c;
    display: flex;
    flex-direction: row;
}


.comment p{
    font-weight: bold;
    font-size: 0.9rem;
    color: #281717;
    display: flex;
    text-align: left;
    align-items: right;
    flex-direction: column;
}

.drama-box:hover{
    transform: translateY(-10px);
    transition: all ease 0.3s;
}

@media(max-width:1060px){
    .drama-box{
        width: 45%;
        padding: 10px;
    }
}

@media(max-width:790px){
    .drama-box{
        width: 100%;
    }
    .drama-box h1{
        font-size: 1.4rem;
    }
}